*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

main{
    height: 90vh;
    width: 400px;
    background-color: hsl(219, 100%, 87%) ;
    
}

main,
.main-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 4px 12px 5px 9px rgba(0, 0, 0, 0.115);

}

.main-content{
    border-radius: 15px;
    background-color: white;

    width: 360px;
    height: 582px;
    display: flex;
    flex-direction: column;

}

.main-content .qr-code{
    border-radius: 15px;
    width: 330px;
    height: 330px;
    margin: 15px;
}

.main-content .paragraph,
.main-content .title{
    margin: 15px 40px;
}

.main-content .title{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.485);
    text-align: justify;
    font-weight: 700;
}

.main-content .paragraph{
    color: rgb(102, 101, 101);
    text-align: center;
    font-weight: 400;
}

footer{
    padding: 5px;
    text-align: center;
    height: 5vh;
}

footer a{
    text-decoration: none;;
    color: rgba(55, 94, 103, 0.98);
}

footer a:hover{
    color: rgba(30, 53, 58, 0.98) ;
}

@media screen and (min-width: 1445px) {
    main{
        width: 90vw;
        height: 75vh;

    }
}