* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --fundo-color: #d6e2f0;
    --P-color: #7b879d;
    --a-color: # #7b879d;
    --hover-color: #375e67fa;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--fundo-color);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    box-shadow: 4px 12px 5px 9px #0000001d;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    width: 375px;
}

img {
    width: 320px;
    display: block;
    border-radius: 15px;
    margin: auto;
}

h1 {
    color: hsl(218, 44%, 22%);
    margin: 40px 0;
    font-size: 1.8em;
    text-align: justify;
    font-weight: 700;
}

p {
    color: var(--P-color);
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}

footer {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: var(--a-color);
}

a:hover {
    color: var(--hover-color);
}